<!DOCTYPE html>
<html lang="en">
  <%- include('./inc/head') %>
  <body>
    <div class="container app mt-5">
      <h4>Unauthorized</h4>
      <div class="row">
        <div class="leader">Авторизоваться <a href="/signup">here</a>.</div>
        <div class="leader">Войти <a href="/signin">here</a>.</div>
      </div>
    </div>
    <script></script>
  </body>
</html>
